<table>
	<tr>
		<td><b>Número de preguntas</b></td>
		<td><%=datos.nPreguntas%></td>
	</tr>
	<tr>
		<td><b>Número de comentarios</b></td>
		<td><%=datos.nComentarios%></td>
	</tr>
	<tr>
		<td><b>Promedio de comentarios por pregunta</b></td>
		<td><%=datos.promedio%></td>
	</tr>
	<tr>
		<td><b>Preguntas sin comentarios</b></td>
		<td><%=datos.preguntaS%></td>
	</tr>
	<tr>
		<td><b>Pregunta con comentarios</b></td>
		<td><%=datos.preguntaC%></td>
	</tr>
</table>